---
import MainLayout from "../layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const allPosts: CollectionEntry<"posts">[] = await getCollection("posts");
---

<MainLayout title="Home">
  {allPosts.map((post) => <div><a href=`/posts/${post.data.slug}`>{post.data.title}</a></div>)}
</MainLayout>
