---
import "../styles/global.css";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | elvisnipah</title>
  </head>
  <body class="bg-background text-text">
    <nav class="p-4">
      <div class="font-bold italic"><a href="/">elvisnipah.com</a></div>
    </nav>
    <section class="flex flex-col items-center">
      <slot />
    </section>
  </body>
</html>
